<div class="about-container">
    <!--use ng for  ,read data from ts -->
    <div class="aboutus">
        <h1>ABOUT US
            <hr>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi omnis odio rerum nulla neque exercitationem
            dolor voluptate, natus pariatur? Qui quisquam neque aliquam aut facere eaque voluptatem totam vel
            consequatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem non eveniet expedita
            exercitationem laborum doloremque eum sapiente, fugiat sed nisi delectus fuga quas nobis explicabo est
            ratione. Mollitia, quibusdam.</p>
        <button class="about-btn">READ MORE</button>
    </div>
   
    <div *ngFor="let info of information" class="about-info">
        <img src="{{info.img}}" alt="Oops some thing went wrong">
        <div class="background">
            <h1>{{info.title}}</h1>
            <p class="info">
                {{info.about}}
            </p>
            <button class="info-btn">READ MORE</button>
        </div>

    </div>



</div>