<div class="about-container" #myElement>

    <div class="aboutus">
        <h1>ABOUT US
            <hr>
        </h1>
        <p>Interiart is an award-winning architecture and interior design practice based in NYC. We work internationally
            on projects of residential & commercial interior design that require a creative approach. Our talented and
            experienced designers leverage their knowledge and expertise to create unique and comfortable interiors for
            you..</p>
        <p>Our team knows that interior design can be stressful for the client and we do
            our best to make it as easy as possible. We listen to your needs, ideas, and inputs. And most importantly,
            we make it exciting and enjoyable for our clients.</p>
        <button class="about-btn">READ MORE</button>
    </div>

    <div *ngFor="let info of information" class="about-info">
        <img src="{{info.img}}" alt="Oops some thing went wrong">
        <div class="background">
            <h1>{{info.title}}</h1>
            <p class="info">
                {{info.about}}
            </p>
            <button class="info-btn">READ MORE</button>
        </div>

    </div>



</div>