<div class="about-container">
    <!--use ng for  ,read data from ts -->
    <div class="aboutus">
        <h1>ABOUT US<hr></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi omnis odio rerum nulla neque exercitationem
            dolor voluptate, natus pariatur? Qui quisquam neque aliquam aut facere eaque voluptatem totam vel
            consequatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem non eveniet expedita
            exercitationem laborum doloremque eum sapiente, fugiat sed nisi delectus fuga quas nobis explicabo est
            ratione. Mollitia, quibusdam.</p>
        <button class="about-btn">READ MORE</button>
    </div>

    <div class="about-info">
        <img src="/assets/interial.jpg" alt="">
        <div class="background">
        <h1>COMMERCIAL DESIGN</h1>
        <p  class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ad voluptas natus, neque provident
            laudantium, molestiae li que? Itaque minima excepturi dolores simi.</p>
        <button class="info-btn">READ MORE</button>
    </div>
    </div>

    <div class="about-info">
        <img  src="/assets/interial.jpg" alt="">
        <div class="background">
        <h1>RECIDENCIAL DESIGN</h1>
        <p class="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dolor eum, obcaecati voluptas magnam
            voluptatem neque? Itaque minima excepturi dolores simi.</p>
        <button class="info-btn">READ MORE</button>
        </div>
    </div>
</div>