@import "../../shared/veriables";
@import "../../shared/mixin";


*{
    font-family: $interiart-font;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 75px;
    background: $about-container-background;

}
.aboutus{
    height: 342px;
    width: 370px;
    font-size: 12px;
    line-height: 1.5;
    padding-right: 15px;
    text-align: left;
    margin-left: 90px;
}
.about-btn{
    color:  $white-color;
    background: $theme-color;
    border:solid $theme-color;
    padding: 8px 25px;
    font-size: 12px;
    line-height: 11px;
    margin: 15px;
    margin-left: 0px;
    transition: 0.6ms;
    

}.about-btn:hover{
    background:$btn-hover-background;
    border: $btn-hover-background;
}

.about-info{
    height: 477px;
    width: 300px;
    text-align: center;
    font-size: 14px;
    margin-left: 25px;
    padding-right: 15px;
    img{
        height: 196px;
        width: 300px;
    }
    .background{
        h1{
            font-size: 15px;
        }
    }
}

.background{
    background:$white-color;
    height: 205px;
    width: 300px;
    margin-top: -12px;
    padding-top: 30px;
        h1:hover{
            color: $theme-color;
        }
    
}
.about-info{
    .info{
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 6px;
        line-height: 2;
        font-size: 12px;
    }
}

.info-btn{
   
    color:  $white-color;
    background: $theme-color;
    border:solid $theme-color;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 11px;
  
    transition: 0.6ms;
    

}
.info-btn:hover{
    background: $btn-hover-background;
    border: $btn-hover-background;
}

.aboutus{
    h1{
        hr{
            @include line();
        }
    }
}