<!--  -->
<div class="address">
    <p class="address-text"><span class="lnr lnr-map-marker"></span>Address:4578 Armora road, Glasgow 84D 890 | <span class="lnr lnr-phone-handset"></span>(800)976-8263</p>
    <div class="contact-menu">
        <ul>
            <li>
                <i class="fa fa-facebook" style="color:white"></i></li>
            <li>
                <i class="fa fa-twitter" style="color:white"></i>
            </li>
            <li>
                <i class="fa fa-youtube" style="color: white;"></i>
            </li>
            <li>
                <i class="fa fa-google-plus" style="color: white;"></i>
            </li>
            <li><i class="fa fa-pinterest" style="color:white"></i></li>
        </ul>
    </div>
</div>