@import "../../shared/veriables";
@import "../../shared/mixin";

.address{
    height: 35px;
    width: 98%;
    border: solid 1px black;
    padding-left: 40px;
    background-color:  #343a40;
    color: $white-color;

    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.address{
    p{
        margin-top: 10px;
        font-family:$interiart-font;
        font-size: 12px;
      
    }
}
.contact-menu{
    ul{
        position: absolute;
        right: 100px;
        margin-top: 10px;
        font-size: 12px;
        li{
            margin-top: 15px;
            display: inline;
            color:$black-color;
            text-decoration: none;
            padding: 7px;
            display: inline;
        }
    
    }
}
.contact-menu{
    ul{
        li{
            .fa:hover{
                color: $theme-color;
            }
        }
    }
}