<div class="service-container">
    <!--Our services-->
    <div class="our-service">
        <div class="service-title">
            <h4>Our Services
                <hr>
            </h4>
        </div>
        <div class="service-info">
            <br>
            <p>Our diverse range of services has brought together a multidisciplinary team of professionals. Beyond
                simply providing interior design solutions, we take care of our clients’ safety and comfort.
                <br><br>Every service we offer our clients is a combination of professionalism, talent, innovations, and
                experience that our team incorporates into each of the projects we work on. Here are some of the
                services we offer.
            </p>
            <br>
            <button class="service-page-btn">Read More</button>
        </div>
    </div>
    <!--Services icons-->
    <div class="icons-list">

        <div *ngFor="let service_info of service_information" class="icons">
            <div class="icons-info">
                <img src="{{service_info.img}}">
            </div>
            <p class="title-service-icon">{{service_info.title}}</p>
            <p class="serivice-about-info">{{service_info.about}}</p>
        </div>
    </div>
</div>