$interiart-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$theme-color: orangered;

// about page variables
$about-container-background:rgb(245, 242, 242);
$white-color:white;
$btn-hover-background:rgb(102, 92, 92);

// home component variables
$black-color:black;

// quote component variables
$input-background-color:#f8f8f8;
$alert-text:red;