@import "../../shared/veriables";
@import "../../shared/mixin";

.main-logo{
    text-align: center;
    color: orangered;
    font-size: 18ppx;
    
}

.address{
    height: 35px;
    width: 98%;
    border: solid 1px black;
    padding-left: 40px;
    background-color:  #343a40;
    color: white;
    display: flex;
    justify-content: space-between;
}
.address{
    p{
        margin-top: 10px;
        font-family:$interiart-font;
        font-size: 12px;
      
    }
}

.menu{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}

.img-container{
    background: linear-gradient(to top,rgba(0,0,0,0.5)100%,rgba(0,0,0,0.5)100%), url(https://images.unsplash.com/photo-1611838637971-2b137f0ebfaf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGhvdXNlJTIwZGVjb3JhdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    height: 123vh;
    display: flex;  
    flex-wrap: wrap;
}
.img-container{
    h2{
        padding-top: 250px;
        padding-left: 75px;
        color: white;
        font-size: 44px;
        font-family: $interiart-font;
        font-weight: bolder;
        letter-spacing: .5px;
        line-height: 1.155;
        
    }
}
.second-logo{
    height:30px ;
    width: 70px;
    margin-top: -27px;
    font-size: 21px;
  //  border: solid 1px black;
    float: left;
    padding-left: 30px;
    color: orangered;
}
.contact-menu{
    ul{
        position: absolute;
        right: 100px;
        margin-top: 10px;
        font-size: 12px;
        li{
            margin-top: 15px;
            display: inline;
            color: black;
            text-decoration: none;
            padding: 7px;
            display: inline;
        }
    
    }
}
.contact-menu{
    ul{
        li{
            .fa:hover{
                color: orangered;
            }
        }
    }
}