<div class="main-container">
    <div class="main-logo">
        <img src="/assets/logo-interiart.png" alt="Oops cant load logo"> 
    </div>
    
    <div class="address">
        <p class="address-text">Address:4578 Armora road, Glasgow 84D 890| (800)976-8263</p>
        <div class="contact-menu">
            <ul>
                <li>
                    <i class="fa fa-facebook" style="color:white"></i></li>
                <li>
                    <i class="fa fa-twitter" style="color:white"></i>
                </li>
                <li>
                    <i class="fa fa-youtube" style="color: white;"></i>
                </li>
                <li>
                    <i class="fa fa-google-plus" style="color: white;"></i>
                </li>
                <li><i class="fa fa-pinterest" style="color:white"></i></li>
            </ul>
        </div>
    </div>
<div class="menu">
<!-- <app-menu></app-menu> -->
</div>
    <div class="img-container">
        <h2 class="main-text">WE CREATE COZINESS FOR<br>YOUR APARTMENT</h2>
    </div>
</div>
 
<app-quote></app-quote>
<app-about-interiart></app-about-interiart>
<app-quote-service></app-quote-service>
