<div class="main-container">
    <div class="main-logo">
        <p>interiArt</p>
    </div>

    <div class="address">
        <p class="address-text">Address:4578 Armora road, Glasgow 84D 890| (800)976-8263</p>
    </div>


    <div class="menu-container">
                <ul>
                    <li class="menu-element"><a href="#"></a>HOME</li>
                    <li class="menu-element"><a href="#"></a>HOME</li>
                    <li class="menu-element"><a href="#"></a>HOME</li>
                    <li class="menu-element"><a href="#"></a>HOME</li>
                    <li class="menu-element"><a href="#"></a>HOME</li>
                </ul>
    </div>


    <div class="img-container">
        <p class="main-text">WE CREATE COZINESS FOR<br>YOUR APARTMENT</p>
    </div>
</div>
<app-quote></app-quote>
<app-about-interiart></app-about-interiart>