@import "../../shared/veriables";
@import "../../shared/mixin";
html,body,a,h1{
    font-family: $interiart-font;
}


.address{
    height: 35px;
    
    border: solid 1px black;
    padding-left: 40px;
    background-color:  #343a40;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.address{
    p{
        margin-top: 10px;
        font-family:$interiart-font;
        font-size: 12px;
      
    }
}



.img-container{
    background: linear-gradient(to top,rgba(0,0,0,0.5)100%,rgba(0,0,0,0.5)100%), url(https://images.unsplash.com/photo-1611838637971-2b137f0ebfaf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGhvdXNlJTIwZGVjb3JhdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    height: 105vh;
    display: flex;  
    flex-wrap: wrap;
    h2{
        padding-top: 340px;
        padding-left: 170px;
         color: $white-color;
        font-size: 44px;
        font-family: $interiart-font;
        font-weight: bolder;
        letter-spacing: .5px;
        line-height: 1.155;
        
    }
}
//.img-container{
    // h2{
    //     padding-top: 340px;
    //     padding-left: 110px;
    //     color: $white-color;
    //     font-size: 44px;
    //     font-family: $interiart-font;
    //     font-weight: bolder;
    //     letter-spacing: .5px;
    //     line-height: 1.155;
        
    // }
//}
.second-logo{
    height:30px ;
    width: 70px;
    margin-top: -27px;
    font-size: 21px;
  //  border: solid 1px black;
    float: left;
    padding-left: 30px;
    color: $theme-color;
}
.contact-menu{
    ul{
        position: absolute;
        right: 100px;
        margin-top: 10px;
        font-size: 12px;
        li{
            margin-top: 15px;
            display: inline;
            color:$black-color;
            text-decoration: none;
            padding: 7px;
            display: inline;
        }
    
    }
}
.contact-menu{
    ul{
        li{
            .fa:hover{
                color: $theme-color;
            }
        }
    }
}

// @media only screen and (max-width: 599px) {
//     .img-container{
//         height: 60vh;
//         h2{
//     font-size: 25px;
//     color: hotpink;
//     padding-left: 20px; 
      
//         }
//     }

// }


@media only screen and (max-width: 414px) { 
    
    .img-container{
        height: 130vh;
        h2{
            color: blue;
            padding-top: 130px;
            font-size: 22px;
            text-align: center;
            padding-left: 40px;
        }
    }
    
}
