@import "variables";
@import "mixin";



.main-quote{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid white;
    border-radius: 3px;
    
}

.form-class{
    width: 300px;
    height: 470px;
    background:linear-gradient(to top, rgba(255, 255, 255)100%,rgba(255, 255, 255, 0)100%);
    position: absolute;
    top: 160px;
    right: 55px;
    padding: 18px;
}
input{
    background:rgb(224, 219, 219)       ;
    font-family: $interi-font;
    padding: 9px;
    margin: 10px;
    width: 260px;
    border: none;
}
select{
    font-family: $interi-font;
    background:rgb(224, 219, 219)        ;

    padding: 9px;
    margin: 10px;
    width: 275px;
    border: none;
}
.quote-btn{
    font-family: $interi-font;
    color:  white;
    background: orangered;
    border: orangered;
    padding: 9px;
    margin: 15px;
    width: 150px;
    border: none;

}
.alert-error{
    font-size: 10px;
    color: red;
}
.form-class{
    h1{
        hr{
            @include line()
        }
    }
}
form{
    textarea{
        margin-left: 10px;
        background: #e0dbdb;
        padding-left: 9px;
        padding-top: 9px;
        font-family: $interi-font;
    }
}