<div class="main-quote">
    <div class="form-class">
        <h1> GET A QUOTE<hr></h1>
        <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
            <input  type="text" placeholder="Enter your name" formControlName="name">
            <div *ngIf="f.name.invalid && submitted" class="alert-error">
                <div *ngIf="f.name.errors?.required">
                    <p>Enter valid name</p>
                </div>
                </div>

            <input type="text" placeholder="Enter phone numner" formControlName="number">

            <input type="email" placeholder="Enter your email" formControlName="email">
            <br>
            <select>
                <option value="aa">property</option>
                <option value="aa">Gov</option>
                <option value="aa">property</option>
            </select><br>
            <select>
                <option value="bb">Services</option>
                <option value="bb">Gov</option>
                <option value="bb">property</option>
            </select>
            <button class="quote-btn">Submit</button>
        </form>
    </div>
</div>