
* {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
     
}
.main-logo{
    text-align: center;
    color: orangered;
    font-size: 18ppx;
    padding: 30px;
}

.menu{
    position: sticky;
    top: 0;
    z-index: 1;
}


@media only screen and (max-width: 414px) {
    .menu{
        position: relative;
        z-index: 0;
    }
}
// @media screen and (max-width: 992px) {
//     .menu{
//         display: block;
//     }
// }