@import "../../shared/veriables";
@import "../../shared/mixin";
@media (min-width: 500px) {
    .menu-container{
        display: block;
    }
}

.menu-container{
    display: flex;
    position: absolute;
    top:37px;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;
    font-family: $interiart-font;
     
    letter-spacing: .05em;
    padding: 21px 0;
    padding-left: 50px;
    padding-right: 50px;
    background: $white-color;
}
a:hover, a:focus{
    color: $theme-color;
}
.menu-container{
    li{
        display: inline;
        list-style: none;
        font-size: 13px;
        
        a{
            display: inline-block;
            padding: 0em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
            color: $black-color;
            font-size: 10px;
            line-height: 1.28;
           
        }
    }
}
.menu-container{
    ul{
    
    font-size: 12px;
    letter-spacing: .05em;
    
    }

}

.menu-container{
   
    li{
        
          .target:hover, .target:focus{
              color: $theme-color;
          }
    }
}

        
.address{
    height: 38px;
    
    border: solid 1px #343a40;
    padding-left: 15px;
    background-color:  #333;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;

    }
    .address{
        p{
            margin-top: 10px;
            font-family:$interiart-font;
            font-size: 12px;
        }
        p:hover{
        color: $theme-color
            }
        }
      
        .address{
            .address-text{
                span{
                    padding: 4px;
                    color: $theme-color;
                }
            }
        }
.contact-menu{
    ul{
        position: absolute;
        right: 100px;
        margin-top: 10px;
        font-size: 12px;
        z-index: 1;
        li{
            margin-top: 15px;
            display: inline;
            text-decoration: none;
            padding: 7px;
            display: inline;
            z-index: 1;
            }
    }
}
    