
<div class="menu-container">
    <div class="second-logo">
        <img src="/assets/logo-interiart.png" alt="Oopse cant load logo">
    </div>
    <ul>

        <li><a style="color: red;" >HOME</a></li>
        <li id="about" (click)="myElement.scrollIntoView({ behavior: 'smooth', block: 'start' })"> <a>ABOUT</a></li>
        <!-- create function -->
        <li><a [routerLink]="['/', 'service']">SERVICE</a></li>
        <li><a href="#">PORTFOLIO</a></li>  
        <li><a href="#">NEWS</a></li>
    </ul>
</div>