<!--  -->
<div class="address">
    <p class="address-text"><span class="lnr lnr-map-marker"></span>Address:4578 Armora road, Glasgow 84D 890 | <span class="lnr lnr-phone-handset"></span>(800)976-8263</p>
    <div class="contact-menu">
        <ul>
            <li>
                <i class="fa fa-facebook" style="color:white"></i></li>
            <li>
                <i class="fa fa-twitter" style="color:white"></i>
            </li>
            <li>
                <i class="fa fa-youtube" style="color: white;"></i>
            </li>
            <li>
                <i class="fa fa-google-plus" style="color: white;"></i>
            </li>
            <li><i class="fa fa-pinterest" style="color:white"></i></li>
        </ul>
    </div>
</div>

<div class="menu-container">
    <div class="second-logo">
        <img src="/assets/logo-interiart.png" alt="Oopse cant load logo">
    </div>
    <ul>

        <li><a style="color: red;" (click)="toHome()">HOME</a></li>
        <li (click)="toAbout()"> <a>ABOUT</a></li>
        <li><a (click)="toService()">SERVICE</a></li>
        <li><a href="#">PORTFOLIO</a></li>  
        <li><a href="#">TESTIMONAL</a></li>  
        <li><a href="#">TEAM</a></li>  
        <li><a href="#">NEWS</a></li>
        <li><a href="#">CONTACTUS</a></li>  
    </ul>
</div>