@import "../../shared/veriables";
@import "../../shared/mixin";
@media (min-width: 500px) {
    .menu-container{
        display: block;
    }
}

.menu-container{
    display: flex;
    position: absolute;
    top:37px;
     width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;
    font-family: $interiart-font;
     
    letter-spacing: .05em;
    padding: 21px 50px;
    background: $white-color;
    .second-logo{
        padding-left: 110px;
    }
  ul {
      padding-right: 40px;
    li{
        display: inline;
        list-style: none;
        font-size: 12px;
        letter-spacing: .05em;    
        &:hover, .selected-state {
            color: $theme-color;
            cursor: pointer;
        }
        
        a{
            display: inline-block;
            padding: 10px 10px;
            text-decoration: none;
            text-transform: uppercase;
            color: $black-color;
            font-size: 10px;
            line-height: 1.28;
           
        }
    }
  }
}

        
.address{
    height: 38px;
   
    border: solid 1px #343a40;
    padding-left: 15px;
    background-color:  #333;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;

    }
    .address{
        p{
            margin-top: 10px;
            padding-left: 90px;
            font-family:$interiart-font;
            font-size: 12px;
        }
        p:hover{
        color: $theme-color
            }
        }
      
        .address{
            .address-text{
                span{
                    padding: 4px;
                    color: $theme-color;
                }
            }
        }
.contact-menu{
    ul{
        position: absolute;
        right: 100px;
        margin-top: 10px;
        font-size: 12px;
        //z-index: 1;
        li{
            margin-top: 15px;
            display: inline;
            text-decoration: none;
            padding: 7px;
            display: inline;
            //z-index: 1;
            }
    }
}
    
@media screen and(max-width:375px) {
    .address{
        p{
           margin-top: 0px;
           padding-left: 0px;
        }
    }  
    .contact-menu{
        ul{
            margin-top: 15px;
            position: absolute;
            right: 15px;
        }
    }  
    }

@media only screen and (max-width: 414px) {
    .menu-container{
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 100px;
        ul{
            display: flex;
            justify-content: left;
            li{
                a{
                    padding: 10px 4px;
                }
            }
        }
        .second-logo{
            display: none;
            // padding: 0px;
        }
    }
    .address{
        
        p{
        margin-top: 0px;
        padding-left: 0px;
        }
    }
   
    
 }